.card1 {
	transition: 0.3s;
	width: 15rem;
	border-radius: 1.5rem;
	overflow: hidden;
}
.card {
	transition: 0.3s;
	width: 15rem;
}

.card:hover,
.card1:hover {
	transform: scale(1.025);
}

.disablebtn {
	opacity: 0.8;
	pointer-events: none;
}

.icondetails {
	font-size: 20px;
}

@media screen and (max-width: 900px) {
	.card {
		width: 12rem;
		font-size: 12px;
	}
	#btncard {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		border-radius: 0.2rem;
	}
}
@media screen and (max-width: 400px) {
	.card {
		width: 15rem;
		font-size: medium;
	}
	#btncard {
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
	}
}
