@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.main1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.heading1 {
  width: 80%;
  margin: 10px auto;
}

.heading1 ul {
  background: #9053c7;
  background: linear-gradient(-120deg, #c850c0, #4158d0) fixed;
}

.navleft1 {
  float: left;
  color: white;
  text-shadow: 1px 1px 10px black;
}

.navleft1 h1 {
  font-family: "Poppins", sans-serif;
}

.tab1 {
  display: flex;
  flex-direction: column;
}

.container1 {
  background-color: rgb(255, 255, 255);
  width: 80%;
  text-align: center;
  border-radius: 15px;
  margin: 20px auto;
  border-collapse: separate;
  overflow: hidden;
}

.container1 th {
  background-color: #c850c0;
  border: 1px solid #4158d0;
  border-radius: 15px;
  padding: 25px;
  color: white;
  font-size: large;
  font-weight: lighter;
  font-style: italic;
  border-radius: 15px;
  transition: 0.3s;
}

.container1 th:hover {
  background-color: #4158d0;
  border: 1px solid #c850c0;
  cursor: pointer;
}

.container1 td {
  border: 1px solid #4158d0;
  border-radius: 15px;
  padding: 20px;
}

.container1 tr:nth-child(odd) {
  background-color: skyblue;
}

.approveBtn1 {
  background-color: #fd1212;
  color: white;
  width: 6rem;
  height: 5vh;
  border: transparent;
  border-radius: 10px;
  font-size: 15px;
}

.approveBtn1:hover {
  background-color: #f74a4a;
  transition: 0.3s;
  cursor: pointer;
}

.name1 {
  width: 15%;
}

.email1 {
  width: 20%;
}

.description1 {
  width: 55%;
}

.actions1 {
  width: 10%;
}
